.team-fullname {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.atlantic {
    background-color: green !important;
}

.central {
    background-color: orangered !important;
}

.southeast {
    background-color: rgb(81, 191, 235) !important;
}

.northwest {
    background-color: rgb(8, 0, 255) !important;
}

.pacific {
    background-color: rgb(197, 150, 241) !important;
}

.southwest {
    background-color: rgb(208, 0, 250) !important;
}